
<div>
<h1>Stupid Coach</h1>

<form class="form-label" action="/answer" data-turbo="false">
  <input type="text" name="question_asked">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>

</div>
